button.btn {
  padding: 0.5rem 1.5rem;
  
  border-radius: 10px;
  border: none;

  font-size: 1.75rem;
  font-weight: bold;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

button.btn:not(:first-child) {
  margin-left: 1.5rem;
}

button.btn:nth-of-type(odd) {
  background-color: #98B4AA;
}

button.btn:nth-of-type(even) {
  background-color: #74959A;
}